:root {
	--base-font-size: 16px;
	--bg-color: #fafafa;
	--bg-alt-color: #f2f2f2;
	--monospace-font: monospace;
	--primary-font: Arial, sans-serif;
	--secondary-font: cursive;
	--text-color: #333333;
	--color-blues: #001e2f;
	--color-bombers: #c90527;
	--color-bulldogs: #0039a6;
	--color-cats: #002244;
	--color-crows: #0a2240;
	--color-demons: #002C5A;
	--color-dockers: #331c54;
	--color-eagles: #0E40BE;
	--color-giants: #b35400;
	--color-hawks: #512b1b;
	--color-kangaroos: #003ca0;
	--color-lions: #8b0042;
	--color-magpies: #000000;
	--color-power: #007894;
	--color-saints: #de1224;
	--color-suns: #d62e24;
	--color-swans: #da241a;
	--color-tigers: #8d6a02;
	--color-unknown: #666666;
}

body {
	background-color: var(--bg-alt-color);
	font-family: var(--primary-font);
	font-size: var(--base-font-size);
	margin: 0;
	padding: 0;
	color: var(--text-color);
	white-space: nowrap;
}

h1 {
	font: bold 1.2em var(--secondary-font);
	margin: 0;
	padding-top: 0.3em;
	text-align: center;
}

h1 a {
	text-decoration: none;
	color: inherit;
}

main {
	cursor: pointer;
	user-select: none;
}

main {
	background-color: #fafafa;
	box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.1);
	margin: 0 auto;
	max-width: 50em;
}

main.clipped {
	overflow-x: auto;
}

main.clipped th {
	position: static;
}

main:not(.clipped) th {
	position: sticky;
	top: 0;
}

table {
	border-collapse: collapse;
	margin-bottom: 1.25em;
	width: 100%;
}

td, th {
	padding: 0.35em;
	text-align: right;
}

td:first-child, th:first-child {
	padding-left: 0.5em;
	padding-right: 0;
}

td:last-child, th:last-child {
	padding-right: 0.8em;
}

th {
	background-color: var(--bg-color);
}

th.stat_head {
	width: 4%;
}

tr * {
	vertical-align: middle;
}

.af, .matchtime, .playerteam, .pos, .stat, .stats_header, .tog, .totalscore, .venuename {
	font-family: var(--monospace-font);
}

.blank_header, .blank_header td {
	background-color: #fafafa;
}

.coachAvatar img {
	width: 1.16em;
	height: 1.16em;
	border-radius: 50%;
	vertical-align: bottom;
}

.loading {
	font-family: var(--secondary-font);
	margin: 0;
	padding-bottom: 0.7em;
	padding-top: 0.5em;
	text-align: center;
}

.match_header {
	font-size: 0.85em;
}

.match_header td {
	color: #fafafa;
	text-align: left;
}

.match_header.blues {
	background-color: var(--color-blues);
}

.match_header.bombers {
	background-color: var(--color-bombers);
}

.match_header.cats {
	background-color: var(--color-cats);
}

.match_header.crows {
	background-color: var(--color-crows);
}

.match_header.demons {
	background-color: var(--color-demons);
}

.match_header.dockers {
	background-color: var(--color-dockers);
}

.match_header.bulldogs {
	background-color: var(--color-bulldogs);
}

.match_header.eagles {
	background-color: var(--color-eagles);
}

.match_header.giants {
	background-color: var(--color-giants);
}

.match_header.hawks {
	background-color: var(--color-hawks);
}

.match_header.kangaroos {
	background-color: var(--color-kangaroos);
}

.match_header.lions {
	background-color: var(--color-lions);
}

.match_header.magpies {
	background-color: var(--color-magpies);
}

.match_header.power {
	background-color: var(--color-power);
}

.match_header.saints {
	background-color: var(--color-saints);
}

.match_header.suns {
	background-color: var(--color-suns);
}

.match_header.swans {
	background-color: var(--color-swans);
}

.match_header.tigers {
	background-color: var(--color-tigers);
}

.match_header.unknown {
	background-color: var(--color-unknown);
}

.matchtime {
	margin-left: 2em;
}

.minion {
	text-align: center;
	color: #fafafa;
}

.pending {
	text-align: left;
}

.playername, .playerteam {
	text-align: left;
}

.playername.long {
	font-stretch: condensed;
}

.playerteam img {
	width: 1.365em;
	height: 1.365em;
	vertical-align: bottom;
}

.playerteam, .stats_header {
	font-size: 0.85em;
	font-weight: bold;
}

.playerteam.blues {
	color: var(--color-blues);
}

.playerteam.bombers {
	color: var(--color-bombers);
}

.playerteam.bulldogs {
	color: var(--color-bulldogs);
}

.playerteam.cats {
	color: var(--color-cats);
}

.playerteam.crows {
	color: var(--color-crows);
}

.playerteam.demons {
	color: var(--color-demons);
}

.playerteam.dockers {
	color: var(--color-dockers);
}

.playerteam.eagles {
	color: var(--color-eagles);
}

.playerteam.giants {
	color: var(--color-giants);
}

.playerteam.hawks {
	color: var(--color-hawks);
}

.playerteam.kangaroos {
	color: var(--color-kangaroos);
}

.playerteam.lions {
	color: var(--color-lions);
}

.playerteam.magpies {
	color: var(--color-magpies);
}

.playerteam.power {
	color: var(--color-power);
}

.playerteam.saints {
	color: var(--color-saints);
}

.playerteam.suns {
	color: var(--color-suns);
}

.playerteam.swans {
	color: var(--color-swans);
}

.playerteam.tigers {
	color: var(--color-tigers);
}

.playerteam.unknown {
	color: var(--color-unknown);
}

.pos, .playerExtra {
	font: 0.85em var(--monospace-font);
}

.pos, .pos_head {
	text-align: left;
	padding-right: 0;
}

.stat, .tog, .pos {
	color: #666666;
}

.stats_row:nth-child(odd) {
	background-color: var(--bg-alt-color);
}

.filtered .stats_row {
	background-color: transparent;
}

/*
.stats_row.coach1 {
	background-color: #E0F0E6;
}

.stats_row.coach2 {
	background-color: #FFE6E6;
}

.stats_row.coach3 {
	background-color: #E6F0FF;
}

.stats_row.coach4 {
	background-color: #FFF8DC;
}
*/

.stats_row.captain > .playername,
.stats_row.vicecaptain > .playername {
	font-weight: bold;
}

.stats_row.emergency > .playername {
	font-style: italic;
}

.stats_row.benched > .playername {
	text-decoration: line-through;
}

.teamname {
	font-weight: bold;
	display: inline-block;
}

.teamname.home {
	text-align: right;
	padding-left: 0.35em;
}

.teamname, .totalscore {
	font-size: 1.2em;
}

.totalscore.away {
	margin: 0 0.5em 0 0;
}

.totalscore.home {
	margin: 0 0 0 0.5em;
}